<section class="w-full min-h-[30vh] py-12">
 <div class="flex flex-col md:flex-row items-start md:items-stretch justify-between gap-8">
    
    <div class="md:max-w-[55%]">
      {% if header_post %}
        <h1 class="text-white font-light text-[140px] leading-[140px] tracking-[-0.04em] font-poppins">
          <span class="block">Our latest</span>
          <span class="block pl-20">impact</span>
        </h1>
  <div class="text-white text-[26px] leading-[30px] tracking-[-0.05em] font-poppins pl-20">
  Driving change. Creating a Positive Impact for all our stakeholders.
</div>
      {% endif %}
    </div>

   <div class="flex flex-col md:flex-row gap-4 md:self-end pl-20 md:pl-0">
      <a href="#" class="bg-white text-[#451DC7] text-[16px] leading-[20px] font-medium tracking-normal font-poppins  rounded-full px-5 py-2 flex items-center gap-2 text-sm shadow-md hover:bg-indigo-50 transition">
        <img src="{{ theme.link }}/static/icons/arrow.svg" alt="" class="w-4 h-4"> All case studies
      </a>
      <a href="#" class="bg-white text-[#451DC7] text-[16px] leading-[20px] font-medium tracking-normal font-poppins  rounded-full px-5 py-2 flex items-center gap-2 text-sm shadow-md hover:bg-indigo-50 transition">
        <img src="{{ theme.link }}/static/icons/arrow.svg" alt="" class="w-4 h-4"> All insights
      </a>
    </div>

  </div>
</section>
