<div class="w-full max-w-[1316px] mx-auto flex flex-col md:flex-row gap-[75px] justify-center items-start">

  <div class="w-full md:w-[864px]">
    {% include 'partials/card-horizontal.twig' with { post: posts[5] } %}
  </div>
  <div class="w-full md:w-[412px] mt-10 md:mt-0">
    {% include 'partials/card-vertical.twig' with { post: posts[6] } %}
  </div>
</div>
