{% extends "base.twig" %}

{% block content %}
<section class="min-h-screen flex flex-col gap-6 bg-[radial-gradient(120%_100%_at_110%_0%,_#04F06A,_#451DC7)] pt-6 md:pt-12 pb-12">

  {% if header_post %}
    <div class="container-custom">
      {% include 'partials/block-header.twig' %}
    </div>
  {% endif %}

  <!-- row 1 : 3 cards verticales -->
  <div class="container-custom">
    <div class="w-full flex flex-col items-center gap-[75px] md:grid md:grid-cols-3 md:gap-[75px]">
      {% for post in posts|slice(1, 3) %}
        <div class="w-full max-w-[683px] mx-auto md:w-full md:max-w-none">
          {% include 'partials/card-vertical.twig' with { post: post } %}
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- row 2 : carte horizontale -->
  <div class="container-custom mt-10">
    {% include 'partials/card-horizontal.twig' with { post: posts[4] } %}
  </div>

  <!-- row 3 : carte double -->
  <div class="container-custom mt-10">
    {% include 'partials/row-double.twig' %}
  </div>

</section>
{% endblock %}
