{% extends "base.twig" %}

{% block content %}
   
<section class="min-h-screen flex items-center justify-center bg-gradient-to-r from-indigo-500 to-teal-400">
 {% if header_post %}
    {% include 'partials/block-header.twig' %}
    {% endif %}
 
</section>


{% endblock %}